<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- Bean to handle MultiPart Files in forms. Without this bean Spring doesn't 
		understand the file data and full form returns null -->
	<context:component-scan base-package="com.si"></context:component-scan>
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- setting maximum upload size -->
		<property name="maxUploadSize" value="5242880" />
	</bean>

	<!-- Bean to handle jsp pages request mapping -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- JDBC bean to handle database connection -->
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />

		<property name="url" value="jdbc:oracle:thin:@infva05803:1521:xe" />
		<property name="username" value="system" />
		<property name="password" value="Newuser123" />
	</bean>


	<!-- JDBC bean that connects to database -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>

	<!-- Dao beans that perform Db operations -->
	<bean id="cdao" class="com.si.dao.CandidateDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="edao" class="com.si.dao.EstablishmentDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="esdao" class="com.si.dao.EstablishmentSearchDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="csdao" class="com.si.dao.CourseSearchDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="cadao" class="com.si.dao.CourseApplicationDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="ldao" class="com.si.dao.LoginDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="adao" class="com.si.dao.AdminDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="acfDao" class="com.si.dao.AdminCanFetchDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="acssDao" class="com.si.dao.AdminCanSetStatusDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="aefDao" class="com.si.dao.AdminEstFetchDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="aessDao" class="com.si.dao.AdminEstSetStatusDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="ecdao" class="com.si.dao.EnterCourseDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>

	<bean id="actrfDao" class="com.si.dao.AdminContrFetchDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="actrssDao" class="com.si.dao.AdminContrSetStatusDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>
	<bean id="fpd" class="com.si.dao.ForgotPsDao">
		<property name="jdbcTemplate" ref="jdbcTemplate">
		</property>
	</bean>


</beans>